@font-face {
    font-family: "Gilroy";
    src: url("./fonts/Gilroy-Regular.ttf");
  }

  body {
    font-family: "Gilroy", sans-serif;
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    background-image: url(https://images.unsplash.com/photo-1574781481375-74a09eba71e1?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
}
#nav h2{
    font-size: 30px;
}
#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
#full {
    height: 100%;
    width: 30%;
    position: absolute;
    background-color: #ffffff40;
    top: 0;
    right: -30%;
    backdrop-filter: blur(10px);
    padding: 50px 60px;

}

#full h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;

}

#full i{
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}